.customBullet {
    position: relative;
    line-height: 1.4;
}

.customBullet::before {
    content: "•";
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
}

.customLink {
    text-decoration: dotted underline;
}

.customLink:hover {
    color: #60A5FA;
    text-decoration: none;
}